.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0px auto;
}

header {
    background-color: #5b5b5b;
    color: #fff;
    padding: 20px 0;
}

body {
    font-family: 'American Typewriter', serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    text-align: left;
}

h1 {
    text-align: left;
    color: #bc1b8c;
    margin: 20px;

}
#formDepense {
    margin: 20px;
}


#form {
    margin: 20px;
}

#budgetForm {
    margin:20px;
}

#colorForm {
    margin: 20px;
}

#contactForm{
    margin :20px;
}
nav {
    text-align: left;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center; 
}

nav ul li {
    display: inline;
    margin-left: auto;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-left: auto; /* Fait pousser l'élément le plus à droite vers la droite */
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #918c8c;
}

#center {
    text-align: center;
    color: #333;
    font-size: 19px;
}

#categorie {
    width: 250px;
}

#montant {
    width: 250px;
}

#date {
    width: 250px;
}

#description {
    width: 250px;   
}

p {
    color: #555;
    margin : 20px;
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

select, input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(228, 135, 235);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(255, 0, 238);
}

h3 {
    color: #333;
    margin-top: 30px;
    margin : 20px;
}
h2 {
    color: #333;
    margin-top: 30px;
    margin : 20px;
}

#listeDepenses {
    list-style: none;
    padding: 0;
    margin: 20px;
}

#listeDepenses li {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
}

#tri {
    margin-top: 10px;
    padding: 8px;
}

#listeDepenses{
    margin: 20px;
}

.recherche {
    padding: 10px;
    margin: 20px;
}

.username {
    color: #d61aa7;
    font-weight: bold;
    margin-right: 10px; /* Ajouter un espace entre le nom d'utilisateur et la photo */
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-right: 20px;
}

.user-profile {
    display: flex;
    align-items: center; /* Alignement vertical */
    margin-left: auto; /* Déplacer l'ensemble vers la droite */
}

